body {
  margin: 0;
  min-height: 100vh;
  background-image: url('Image/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  font-family: mojangles, Arial, sans-serif;
  color: white;
  padding: 25px 0px 0px 25px;
}

.blur {
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

@font-face {
  font-family: mojangles;
  src: url(mojangles/mojangles.otf);
}

@keyframes blink_rainbow {
  0% {
    color: red;
  }
  25% {
    color: green;
  }
  50% {
    color: blue;
  }
  75% {
    color: pink;
  }
  100% {
    color: red;
  }
}

.rainbow_text {
  animation: blink_rainbow 2s linear infinite;
}

.header {
  color: rgb(224, 64, 104);
}

.avatar {
  width: 100px;
  height: 100px;
}

/*  Chrimas only :)  */

@keyframes fall {
  0% {
      transform: translateY(-100vh);
  }
  100% {
      transform: translateY(100vh);
  }
}

.snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
    
  background-image: radial-gradient(circle, white 1px, transparent 1px);
  background-repeat: repeat;
  background-size: 100px 100px;
    
  animation: fall 15s linear infinite;
}